---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";
import "../input.css";
// Supports weights 100-900
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";

export interface Props {
    title: string;
    description?: string;
    image?: string;
    article?: boolean;
}

const {
    title,
    description = "Find your dream office for better productivity at FirstOffice. Explore our curated list of serviced, virtual, and managed offices in top locations.",
    image,
    article,
} = Astro.props;

const schemaAPIStr = JSON.stringify({
    "@context": "https://schema.org",
    "@type": "WebSite",
    name: "FirstOffice",
    url: "https://firstoffice-astro.weorbit.id/",
    potentialAction: {
        "@type": "SearchAction",
        target: {
            "@type": "EntryPoint",
            urlTemplate:
                "https://firstoffice-astro.weorbit.id/browse?q={search_term_string}",
        },
        "query-input": "required name=search_term_string",
    },
});
---

<!doctype html>
<html lang="en">
    <head>
        <SEO
            title={title}
            description={description}
            image={image}
            article={article}
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- JSON-LD -->
        <script type="application/ld+json" set:html={schemaAPIStr} />

        <!-- UTM Tracking Initialization -->
        <script>
            import "../scripts/utm-handler";
        </script>
    </head>
    <body>
        <Navbar />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
