---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";
import "../input.css";

export interface Props {
    title: string;
    description?: string;
    image?: string;
    article?: boolean;
}

const {
    title,
    description = "FirstOffice - Find your dream office for better productivity.",
    image,
    article,
} = Astro.props;

const schemaAPIStr = JSON.stringify({
    "@context": "https://schema.org",
    "@type": "WebSite",
    name: "FirstOffice",
    url: "https://firstoffice-astro.pages.dev/",
    potentialAction: {
        "@type": "SearchAction",
        target: {
            "@type": "EntryPoint",
            urlTemplate:
                "https://firstoffice-astro.pages.dev/browse?q={search_term_string}",
        },
        "query-input": "required name=search_term_string",
    },
});
---

<!doctype html>
<html lang="en">
    <head>
        <SEO
            title={title}
            description={description}
            image={image}
            article={article}
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <!-- JSON-LD -->
        <script type="application/ld+json" set:html={schemaAPIStr} />

        <!-- UTM Tracking Initialization -->
        <script>
            import "../scripts/utm-handler";
        </script>
    </head>
    <body>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
